@import "./../../../styles/variables";

.welcome-section{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: calc(100vh - 97px);
  overflow: hidden;

  .header{
    display: flex;
    flex-direction: row;
    height: max-content;
    flex: 0 0 auto;
    padding: clamp(24px, 10vw, 48px) clamp(40px, 10vw, 80px);
    gap: clamp(40px, 10vw, 80px);


    > *{
      flex: 0.5;
    }

    > :first-child{
      position: relative;

      img{
        position: absolute;
        right: 0;
        top: 2vh;
      }
    }

    > :last-child{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 3vh;

      a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        color: $neutral-07;

        img{
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .main{
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 0;

    > *{
      flex: 0.5;
      min-width: 50%;
    }

    .main-slider {
      max-height: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        max-height: 100%;
        display: block;
      }
    }

    .main-content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      background-color: $accent-4;
      padding: clamp(40px, 5vw, 80px);

      .main-content-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: clamp(8px, 5vw, 12px) clamp(12px, 5vw, 24px);
        background-color: $neutral-01;
        border-radius: 12px;

        box-shadow: 0 16px 40px -8px #00000012;

        li{
          display: flex;
          flex-direction: column;
          gap: 8px;

          span:first-child{
            color: $neutral-06;
            font-weight: bold;
          }

          span:last-child{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
          }
        }
      }

      >div{
        display: flex;
        flex-direction: column;
        gap: clamp(24px, 8vh, 48px);

        .btns{
          display: flex;
          flex-direction: row;
          gap: 16px;
          width: 100%;

          button{
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 1080px) {
  .welcome-section{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: calc(120vh - 97px);
    overflow: hidden;
  }
}