:root{
  --neutral-08: #010101;
  --neutral-07: #202025;
  --neutral-06: #555555;
  --neutral-05: #686A6C;
  --neutral-04: #A6AEAD;
  --neutral-03: #E1E2E2;
  --neutral-02: #F1F4F4;
  --neutral-01: #F7FBFA;
  --accent-shade-1: #6DD3C2;
  --accent-shade-2: #1966F7;
  --accent-1: #BCE6EC;
  --accent-2: #B9A9FB;
  --accent-3: #FFA6D6;
  --accent-4: #DBFF73;
  --transparent: transparent;
  --index: calc(1vw + 1vh);
}